body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

header.row.header {
  margin: 20px 0 20px 0;
  border-bottom: 1px solid #e8e8e8;
}

.header h3 {
  text-align: left;
  font-weight: bold;
  color: #212121;
}

.nav-bar.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  padding: 10px;
}

.search-bar {
  text-align: center;
  padding-left: 0;
}

.auth-bar {

}

.search-bar .col {
  padding-left: 0;
  padding-right: 0;
}

.search-bar input {
  width: 100%;
  height: 35px;
  padding: 5px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}

.search-results {
  margin: 20px auto;
  max-width: 810px;
}

/*.result-item:hover {
  background-color: #eee;
}*/

ul.result-list {
  list-style: none;
}

li.result-item {
  margin: 20px 0;
}

.content {
  text-align: left;
}

.content button.vote img {
  width: 16px;
  height: 16px;
}

.content button.vote {
  border: 0;
  margin-bottom: 10px;
}

.content button.vote .score  {
  color: #262626;
  font-weight: 800;
}

.content button.vote:hover {
  background-color: #eee;
}

.content h3, p {
  margin: 0;
}

.content h3 {
  color: #4584c3;
}

p.leadtext {
  color: #262626;
  font-weight: 500;
}

.credit {
  margin-top: 20px;
}

.credit span.submitted {
  color: #999999;
  font-weight: 500;
}

.thumbnail {
  float: left;
  width: 160px;
  margin-right: 20px;
}

.thumbnail img {
  width: 160px;
  height: 160px;
}

a.product-link {
  color: inherit;
  text-decoration: none
}

.credit img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}